.navigation {
  position: fixed;
  width: 300px;
  height: 100%;
  border-right: 4px solid var(--grey);
  transition: 0.5s;
  overflow: hidden;
}

.navigation.active {
  width: 80px;
}
.navigation ul {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}
.navigation ul li {
  position: relative;
  width: 100%;
  list-style: none;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
}
.navigation ul li:hover,
.navigation ul li.hovered {
  background: var(--white);
}
.navigation ul li:nth-child(1) {
  margin-bottom: 40px;
  pointer-events: none;
}
.navigation ul li a {
  position: relative;
  display: block;
  width: 100%;
  display: flex;
  text-decoration: none;
  color: var(--black);
}
.navigation ul li:hover a,
.navigation ul li.hovered a {
  color: var(--green);
}
.navigation ul li a .icon {
  position: relative;
  display: block;
  min-width: 60px;
  height: 60px;
  line-height: 75px;
  text-align: center;
}
.navigation ul li a .icon ion-icon {
  font-size: 1.75em;
}
.navigation ul li a .title {
  position: relative;
  display: block;
  padding: 0 10px;
  height: 60px;
  line-height: 60px;
  text-align: center;
  white-space: nowrap;
}
/*  */
.navigation ul li:hover a::before,
.navigation ul li.hovered a::before {
  content: "";
  position: absolute;
  right: 0;
  top: -50px;
  width: 50px;
  height: 50px;
  background: transparent;
  border-radius: 50%;
  box-shadow: 35px 35px 0 10px var(--white);
  pointer-events: none;
}
.navigation ul li:hover a::after,
.navigation ul li.hovered a::after {
  content: "";
  position: absolute;
  right: 0;
  bottom: -50px;
  width: 50px;
  height: 50px;
  background: transparent;
  border-radius: 50%;
  box-shadow: 35px -35px 0 10px var(--white);
  pointer-events: none;
}
.main {
  position: absolute;
  width: calc(100% - 300px);
  left: 300px;
  min-height: 100vh;
  background: var(--grey);
  transition: 0.5s;
}
.main .nav {
  background-color: var(--white);
  height: 5em;
  padding: 2em;
  font-size: 1em;
}
.main .list-employees {
  margin-top: 4em;
  margin-left: 2em;
  width: 100em;
  box-shadow: 0 7px 25px rgba(16, 14, 14, 0.08);
  background-color: var(--white);
}
.main .list-employees .heading-table-employees {
  height: 3em;
}
.main .list-employees .data-employees {
  height: 2em;
}
.main .list-employees .data-employees .employees-details {
  padding: 1em;
  border-bottom: 3px solid var(--grey);
}
.main .title-list {
  margin-top: 20px;
  font-size: 1.5em;
  margin-left: 60px;
  color: #507731;
}
.main .img-dashboard {
  display: flex;
}
.main .img-dashboard .img-finance {
  width: 550px;
  height: 280px;
  margin-top: 50px;
  margin-left: 60px;
  border-radius: 20px;
}
.main .img-dashboard .img-finance2 {
  width: 400px;
  border-radius: 20px;
  margin-left: 80px;
  height: 280px;
  margin-top: 50px;
}
.main .list-action {
  display: flex;
  margin-top: 1.5em;
  margin-left: 1.5em;
}
.main .list-action .action {
  display: flex;
  margin-left: 5em;
}
.main .list-action .action .icon {
  color: var(--green);
}
.main .list-action .action .title {
  color: var(--black2);
}

.topbar {
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
}
.topbar #welcome {
  color: var(--black1);
  font-size: 2em;
  padding-top: 30px;
  padding-left: 40px;
}
.topbar #under-welcome {
  color: var(--black2);
  font-size: 1em;
  padding-left: 40px;
}
.search {
  position: relative;
  width: 400px;
  padding-top: 30px;
  margin: 0 10px;
}
.search label {
  position: relative;
  width: 100%;
}
.search label input {
  width: 100%;
  height: 40px;
  border-radius: 40px;
  padding: 5px 20px;
  padding-left: 35px;
  font-size: 15px;
  outline: none;
  border: 1px solid var(--black2);
}
.search label ion-icon {
  position: absolute;
  top: 0;
  left: 10px;
  font-size: 1.2em;
}
.user {
  position: relative;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  overflow: hidden;
  cursor: pointer;
}
.user img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.cardBox {
  position: relative;
  width: 100%;
  padding-left: 60px;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-gap: 10px;
}
.cardBox .card {
  position: relative;
  background: var(--white);
  padding: 30px;
  height: 350px;
  width: 300px;
  border-radius: 20px;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
  box-shadow: 0 7px 25px rgba(0, 0, 0, 0.08);
}
.cardBox .card img {
  padding-top: 40px;
  align-items: center;
  width: 200px;
}
.cardBox .card .numbers {
  position: relative;
  font-weight: 500;
  font-size: 2.5em;
  color: var(--blue);
}
.cardBox .card .cardName {
  color: var(--black1);
  font-size: 1.1em;
  margin-top: 5px;
  text-align: center;
}
.cardBox .card .iconBox {
  font-size: 3.5em;
  color: var(--black2);
}

.pagesLogin {
  /* margin: 15em; */
  margin-top: 8em;
  margin-left: 14em;
  width: 100em;
  height: 40em;
  /* border: 4px solid var(--green); */
  box-shadow: 20px 20px 25px rgba(36, 29, 29, 0.08);
  display: flex;
}
.pagesLogin .image {
  width: 50%;
  background-color: #13a73b;
}
.pagesLogin .image img {
  width: 35em;
  /* background-color: #1bbf47; */
  margin-left: 7em;
  margin-top: 2.5em;
}

.pagesLogin .form {
  width: 50%;
  text-align: center;
  margin-top: 10.5em;
}
.pagesLogin .form .notes {
  color: var(--black2);
  padding: 1.5em;
  margin-top: 11rem;
}

.pagesLogin .form .input-login {
  margin-top: 42px;
}

.pagesLogin .form .input-login input {
  padding: 3px;
  width: 20em;
  height: 3em;
  margin-top: 15px;
  border-radius: 3px;
  border: none;
  /* border: 1px solid #727272; */
  box-shadow: 0 7px 25px rgba(0, 0, 0, 0.08);
}
.pagesLogin .form .input-login .btn-submit-login {
  background-color: #1bbf47;
  width: 20em;
  height: 2em;
  color: var(--white);
  border-color: var(--white);
  margin-top: 15px;
  border-radius: 3px;
  box-shadow: 0 7px 25px rgba(0, 0, 0, 0.08);
}

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
